@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.nav-link {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

.mb-10 {
    margin-bottom: 15px;
}

.bg-2 {
    background-color: #FFF03F;
}

.bg-yellow {
    background-color: yellow;
}

.nav-btn {
    padding: 12px 32px 12px 32px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: red;
}

.nav-link:hover {
    color: red;
}

.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}


.bg-img {
    background-image: url(../images/hero-section-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 32vh;
    margin-top: 60px;
}

ol,
ul {
    padding-left: 0;
}

.height-60-vh {
    height: 60vh;
}

.img-1 {
    top: 20%;
    right: 18%;
}

.img-2 {
    right: 18%;
}

.im {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.section-heading {
    top: 10%;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
}

.scn-img {
    top: 30%;
}

.bg-ylo {
    background-color: #FFF03F;
}

.section-3-txt {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
}

.section-3-para {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.alin {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-btn {
    width: 219px;
    margin-bottom: 40px;
    cursor: pointer;
    height: 53px;
    top: 1355.21px;
    left: 300px;
    padding: 15px, 32px, 15px, 32px;
    border-radius: 10px;
    gap: 10px;
    background-color: #F4241E;
    border: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    color: #fff;

}

.bg-red {
    background-color: red;
}

.sec-head {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sec-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sec-para {
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.sec-no {
    color: #fff;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
}


.df-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.df {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    border: 1px solid black;
    background-color: #fff;
    width: fit-content;
    border-radius: 20px;
    padding: 2px 20px;
}

.box p {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}



.max-100-vh {
    height: 100vh;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 70px;
}

.bg-1 {
    background-color: #F6E300;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: red;
    top: 1%;
    bottom: 32%;
    left: 50%;
    margin-left: -3px;
}

.containere {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.containere::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: white;
    border: 4px solid white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    top: 0;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.half-1 {
    top: 65%;
    left: 0%;
}

.full-1 {
    top: 0%;
    left: 0%;
}

.full-2 {
    top: 60%;
    left: 18%;
}

.half-2 {
    top: 0%;
    left: 18%;
}

.full-3 {
    top: 0%;
    right: 20%;
}

.half-3 {
    top: 60%;
    right: 30%;
}

.half-4 {
    top: 0%;
    right: 7%;
}

.full-4 {
    top: 60%;
    right: 14%;
}

.right::after {
    left: -12px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.txt {

    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.height-100-vh {
    height: 170vh;
}

.height-60-vh {
    height: 85vh;
}

.road {
    /* right: 38%; */
    top: 0%;

    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
}

.accordion-item {
    margin-bottom: 10px !important;
}

.df {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tl {
    top: 10%;
}

.card-heading {

    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

.card-para {

    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
}



.bg_yellow {
    --bs-accordion-active-bg: #FFF03F;
    --bs-accordion-bg: #FFF03F;
    --bs-accordion-btn-bg: #FFF03F;
    /* max-width: 600px; */
}

.fq {

    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
}

.accord {
    max-width: 800px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.py-10 {
    padding-top: 10px;
}

.p-15 {
    padding: 15px;
}

p {
    margin-bottom: 0 !important;
}

.section-btn:hover {
    background-color: white;
    color: #F4241E;
    transition: all 400ms linear;

}

.footer-1:hover {
    transform: translate(0, -4px);
}



.accordion-item:first-of-type .accordion-button {

    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

.accordion-button {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}


.py_20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.accordion-body {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}




@media (max-width:576px) {
    .half-1 {
        display: none;
    }

    /* 
    .timeline::after {
        bottom: 25%;
        left: 31px
    } */
}

@media (max-width:992px) {
    .half-3 {
        display: none;
    }

    .full-2 {
        display: none;
    }

    .justify-content {
        justify-content: space-evenly !important;
    }
}

@media (max-width:768px) {
    .half-2 {
        display: none;
    }

    .full-3 {
        display: none;
    }
}

@media (max-width:576px) {
    .height-100-vh {
        height: 150vh;
    }


}

@media (min-width: 320px) and (max-width: 576px) {
    .timeline::after {
        bottom: 35% !important;
    }

    .txt {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 992px) {


    .timeline::after {
        left: 28px;
        bottom: 34%;
    }


    .containere {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .containere::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}

@media (max-width:1200px) {
    .lg-view {
        display: flex;
        flex-direction: column;
        background-color: yellow;
        position: fixed;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        transition: all 200ms linear;
    }

    label[for="menuIcon"] {
        width: 50px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1;
        position: fixed;
        top: 3%;
        right: 3%;
    }

    label[for="menuIcon"] span {
        background-color: white;
        width: 100%;
        height: 5px;
        border-radius: 7px;
    }

    input[type="checkbox"]:checked~.lg-view {
        left: 0;
    }
}

@media (min-width:768px) {
    .accordion-button::after {
        margin-left: 229px !important;
    }
}